.tarjetas{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 22vw;
    background-color: black;
    margin-bottom: 20px;
}
.imagenes{
    width: 20vw;
    margin: auto;
}
.textotarjeta{
    color: white;
    text-align: center;
}