.home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15cm;
    
}


home-conteiner-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3cm;
}

.ver{
    color: black;
    margin-left: 1cm;
}

.ver1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 1cm;
}

.series1{
    margin-left: 1cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pe{
    margin-left: 1cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search-form_input {
    border: solid 1px var(--light-gray);
    display: block;
    width: 15vw;
    padding: 5px 7px 5px 7px;
    border-radius: 3px;
    /* height: 40px;
    font-size: 1.5em; */
  }
 